.image-banner {
	background-color: #A9D6D3;
	height: 40rem;
	margin-top: 40px;
}

.image-banner-background {
	display: flex;
	height: 40rem;
	width: 100%;
	background-image: url("../../assets/fundo-desenho.svg");
	right: 0;
	background-repeat: no-repeat;
	background-size: 1200px;
	background-position: right center;
}

.image-banner img {
	display: block;
	width: 100%;
	height: 40rem;
}

.info-numbers {
	margin: 12rem 0;
	text-align: center;
	font-size: 18px;
}

.info-title {

	font-weight: bold;
	color: #009F70;
	margin-bottom: 6rem;

}

.informes {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.informes-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

.informes-card h2 {
	color: #009F70;
	font-size: 44px;
}

.content-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 12rem;

}

.cards {
	display: flex;
	justify-content: space-around;
	gap: 6.25rem;
}

.cards img {
	border-radius: 10px;
}

.cards .card-01 {
	position: relative;
}

.cards .card-02 {
	position: relative;
}

.about {
	border-radius: .625rem;
	width: 140px;
	height: 45px;
	background-color: #009F70;
	color: white;
	position: absolute;
	bottom: 60px;
	left: 14px;
}

.title-card {
	margin-top: 10px;
	font-weight: 500;
	font-size: 1.3rem;
	display: flex;
	justify-content: center;
}

.cards-institutions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cards-institutions-img {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.cards-institutions-img img {
	border-radius: 6px;
}