.header {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.header nav {
	/* position: fixed;
	z-index: 9999; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header nav ul {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
}

.header li a {
	font-weight: bold;
}

.header nav ul li:hover {
	color: #009F70;
}


.logo {
	width: 80px;
	height: 80px;
}
