.footer {
	display: flex;
	height: 23rem;
	width: 100%;

	background-image: url("../../../../assets/fundo-desenho.svg");
	right: 0;
	background-repeat: no-repeat;
	background-size: 100rem;
	background-position: right center;
}